<div id="shows-list-container">
    <% for (show of shows) {%>
        <div class="show-list-item-container" id="<%=show._id%>-table-item">
            <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <div id="<%=show.id%>_name" style="font-size: 1.3rem; width: 100%;"
                    onclick="window.location = ('/shows/<%=show._id%>/0')">
                    <%=show['Name']%>
                </div>
                <div class="shows-table-delete-button"
                    onclick="toggleDeleteShowWarningModal(true, false,'<%=show._id%>')">
                    Delete</div>
            </div>
            <div style="display:flex; flex-direction: row;">
                <div class="show-data-item">
                    <div>Budget:</div>
                    <div>
                        <%=show.costReport.budget%>
                    </div>
                </div>
                <div class="show-data-item">
                    <div>To Date:</div>
                    <div>
                        <%=show.costReport.toDate%>
                    </div>
                </div>
                <div class="show-data-item">
                    <div>Remaining:</div>
                    <div>
                        <%=show.costReport.remaining%>
                    </div>
                </div>
            </div>
        </div>
        <%}%>
</div>