<!DOCTYPE html>
<html lang="en">
<script src="/scripts/shows.js"></script>

<head>
    <%- include("partials/head")%>
        <script src="../public/scripts/shows.js"></script>
</head>

<body>
    <div id="grid-modal-container">
        <%- include("partials/deleteShowWarningModal") %>
            <%- include("partials/downloadShowModal") %>
    </div>
    <%- include("partials/createShow") %>
        <%- include("partials/navbar") %>
            <div id="main-container">
                <%- include("partials/flash") %>
                    <div style="display: flex; justify-content: space-between; align-items: center; margin: 5px;">
                        <div
                            style="font-size: 1.7rem; display: flex; flex-direction: row; justify-content: flex-start;">
                            My Shows&nbsp;(<div id="show-count-indicator">
                                <%=`${shows.length}`%>
                            </div>)
                        </div>
                        <div style="width: 2.2rem; height: 2.2rem;"><a id="create-show-button"
                                onclick="toggleCreateShow('flex')">+</a></div>
                    </div>
                    <%- include('partials/showsTable') %>
            </div>
</body>

</html>